@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');
$Main-font: 'Bricolage Grotesque', sans-serif;
$Second-font: 'Be Vietnam Pro', sans-serif;

////// Bricolage pesos
// Extrabold = 800

////// Be Vietnam Pro pesos
// Thin = 100
// ExtraLight = 200
// Light = 300
// Regular = 400
// Medium = 500
// SemiBold = 600
// Bold = 700
// ExtraBold = 800
// Black = 900

$Preto: #131313;
$Branco: #F3F4F9;
$Cinza: #BBBBBB;
$Grafite: #505050;
$Abobora: #F83810;
$Violeta: #8000FF;
$Verde: #BAF811;