.Produtos{
    width: 100%;
    min-height: 100vh;
    height: auto;
    .Header_main{
        margin-top: 11vh;
        width: 100%;
        height: 6vh;
        background: $Verde;
        display: flex;
        flex-direction: row;
        padding: 0.5vh 0;
        .list_Categs{
            border-left: 1px solid $Violeta;
            border-right: 1px solid $Violeta;
            width: 12.5%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: left;
            font-family: $Second-font;
            font-weight: 900;
            font-size: 1vw;
            color: $Preto;
            position: relative;
            &:first-child{ border-left: 0; }
            &:last-child{ border-right: 0; }
            .categ_Subcategs, button{
                all: unset;
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: left;
                p{
                    width: 78%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 1vw;
                    white-space: nowrap;                  
                    overflow: hidden;
                    text-overflow: ellipsis;

                }
                img, svg{
                    position: absolute;
                    width: 1.5vw;
                    right: 1vw;
                    path{
                        fill: $Preto;
                    }
                }
            }
            .dropdown-menu{
                width: 12vw;
                border-radius: 0;
                background: $Verde;
                padding: 0.5vw;
                outline: none;
                border: none;
                .dropdown-item{
                    font-weight: 700;
                    padding-left: 0.5vw;
                    overflow: hidden;
                    &:hover{
                        background: $Cinza;
                    }
                }
            }
            .showDropdown{
                width: 100%;
                height: auto;
                position: absolute; 
                top: 100%; 
                left: 0px; 
                will-change: transform;
                z-index: 30 !important;
            }
            p{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 1vw;
                white-space: nowrap;                  
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .SubHeader{
        width: 100%;
        height: 15vh;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: right;
        padding: 2vh 1.5vw;
        nav{
            all: unset;
            position: absolute;
            left: 1vw;
            top: 1vh;
            height: 4.5vh;
            .breadcrumb{
                background: none;
                .breadcrumb-item{
                    max-width: 8vw;
                    font-family: $Second-font;
                    font-weight: 400;
                    font-size: 0.75vw;
                    color: $Verde !important;
                    white-space: nowrap;                  
                    overflow: hidden;
                    text-overflow: ellipsis;
                    a{
                        font-family: $Second-font;
                        color: $Branco;
                        font-weight: 900;
                        white-space: nowrap;                  
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &:hover{
                            color: $Violeta;
                        }
                    }
                    &::before{
                        content: '>';
                    }
                    &:first-child{
                        &::before{
                            content: '';
                        }
                    }
                }
            }
        }
        h1{
            margin-top: 4vh;
            width: 40vw;
            height: 55%;
            font-family: $Main-font;
            font-weight: 800;
            font-size: 3vw;
            color: $Branco;
            text-align: right;
            white-space: nowrap;                  
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h3{
            position: absolute;
            right: 1.5vw;
            top: 25%;
            font-family: $Second-font;
            font-weight: 500;
            font-size: 0.75vw;
            color: $Branco;
        }

    }
    .Produtos_Block{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5vh;
        .Sub_menu{
            width: 20%;
            min-height: 68vh;
            height: auto;
            padding-bottom: 7vh;
            position: relative;
            display: flex;
            flex-direction: column;
            &::before{
                content: '';
                position: absolute;
                width: 2px;
                height: 85%;
                top: 2vh;
                right: 0;
                background: $Abobora;
            }
            .filtros_Block{
                width: 100%;
                height: 13vh;
                margin-top: 2vh;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                .LimpaFiltros{
                    all: unset;
                    position: absolute;
                    top: -3vh;
                    left: 0.75vw;
                    font-family: $Second-font;
                    font-weight: 900;
                    font-size: 0.75vw;
                    color: $Branco;
                    &:hover{
                        color: $Abobora;
                    }
                }
                .filtros{
                    all: unset;
                    width: 33.3%;
                    height: 100%;
                    img,svg{
                        width: 100%;
                        height: 65%;
                        padding: 0.85vw;
                        path{
                            fill: $Abobora;
                        }
                    }
                    p{
                        width: 100%;
                        height: 35%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: $Second-font;
                        font-weight: 900;
                        font-size: 0.75vw;
                        color: $Branco;
                        text-align: center;
                        padding: 0 1vw;
                    }
                }
                .ativo{
                    img,svg{
                        path{
                            fill: $Verde;
                        }
                    }
                }
            }
            .subCateg_list, .Codigo_list{
                margin-top: 1.5vh;
                width: 100%;
                button{
                    all: unset;
                    width: 100%;
                    height: 7vh;
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    padding: 1vw;
                    font-family: $Second-font;
                    font-weight: 900;
                    font-size: 1.35vw;
                    color: $Branco;
                    position: relative;
                    img,svg{
                        position: absolute;
                        right: 2vw;
                        width: 2vw;
                        height: auto;
                        transition: all 0.2s ease-in-out;
                        transform: rotate(0);
                    }
                    .setaSubCategs{
                        transform: rotate(180deg);
                    }
                }
                #Sub_Categs, #Codigos_list {
                    padding: 1vh 1.5vw;
                    a{
                        width: 100%;
                        height: 4vh;
                        border-top: 1px solid $Verde;
                        border-bottom: 1px solid $Verde;
                        display: flex;
                        align-items: center;
                        padding-left: 0.5vw;
                        font-family: $Second-font;
                        font-weight: 700;
                        font-size: 0.75vw;
                        color: $Branco;
                        white-space: nowrap;                  
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &:hover{
                            color: $Abobora;
                        }
                    }
                }
            }
        }
        .Produtos_list{
            width: 80%;
            min-height: 68vh;
            height: auto;
            padding-bottom: 7vh;
            display: flex;
            flex-wrap: wrap;
            padding: 0 2vw 7vh 0;
            position: relative;
            .LimpaFiltroCodigo{
                all: unset;
                position: absolute;
                top: -3vh;
                left: 0.5vw;
                font-family: $Second-font;
                font-weight: 900;
                font-size: 1vw;
                color: $Branco;
                &:hover{
                    color: $Abobora;
                }
            }
            .produtos{
                z-index: 25;
                width: 23.5%;
                height: 50vh;
                margin: 2vh 0.75%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1.75vw;
                overflow: hidden;
                .code{
                    position: absolute;
                    top: 0.25vw;
                    left: 0.5vw;
                    font-family: $Second-font;
                    font-weight: 800;
                    font-size: 0.75vw;
                    color: $Verde;
                    letter-spacing: 0.05vw;
                }
                button{
                    position: absolute;
                    top: 0.75vw;
                    right: 0.75vw;
                    width: 1.75vw;
                    height: 1.75vw;
                    border: none;
                    border-radius: 0.25vw;
                    background: $Abobora;
                    z-index: 99 !important;
                    transition: ease-in-out 0.1s all;
                    img, svg{
                        width: 100%;
                        height: 100%;
                        padding: 0.3vw;
                        path{
                            fill: $Preto;
                        }
                    }
                    &:hover{
                        width: 2.25vw;
                        height: 2.25vw;
                        top: 0.5vw;
                        right: 0.5vw;
                    }
                }
                img{
                    width: 100%;
                    height: 65%;
                    object-fit: contain;
                    padding: 1.5vw;
                    z-index: 5 !important;
                }
                h4{
                    all: unset;
                    width: 100%;
                    height: 20%;
                    font-family: $Second-font;
                    font-weight: 700;
                    font-size: 1vw;
                    color: $Branco;
                    overflow: hidden;
                    position: relative;
                    padding-top: 0.5vh;
                    text-align: center;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &::before{
                        content: '';
                        position: absolute;
                        background: $Verde;
                        opacity: 1;
                        width: 30%;
                        height: 3px;
                        bottom: 0;
                        left: 35%;
                    }
                }
                p{
                    width: 100%;
                    height: 15%;
                    font-family: $Second-font;
                    font-weight: 900;
                    font-size: 1.25vw;
                    color: $Verde;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        color: $Branco;
                        font-size: 0.75vw;
                        margin-right: 0.25vw;
                        margin-bottom: -0.75vh;
                    }
                }
                a{
                    width: 7vw;
                    height: 7vw;
                    position: absolute;
                    bottom: -3.5vw;
                    right: -3.5vw;
                    // bottom: 0;
                    // right: 0;
                    z-index: 15;
                    transform: rotate(45deg);
                    background: $Verde;

                    img, svg{
                        position: absolute;
                        width: 20%;
                        height: 20%;
                        top: calc(40%);
                        left: 0.7vw;
                        path{
                            fill: $Preto;
                        }
                    }
                }
                &::before{
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: $Cinza;
                    opacity: 0.15;
                    z-index: -1;
                }
                
            }
        }
    }
}