@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none;
}

.hide {
  opacity: 0 !important;
  display: none !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

::-webkit-scrollbar {
  width: 0.5vw;
  background: #BAF811;
}

::-webkit-scrollbar-thumb {
  background: #F83810;
  border-radius: 5vw;
}

p {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background: #131313;
  font-family: "Bricolage Grotesque", sans-serif;
  color: #F3F4F9;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
body header {
  border-top: 8px solid #F83810;
  padding: 0 5%;
  padding-top: 1vh;
  position: fixed;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  z-index: 99;
  transition: ease-in-out all 0.5s;
}
body header #LogoMenu {
  width: 10vw;
  height: 100%;
}
body header #LogoMenu img, body header #LogoMenu svg {
  width: 100%;
  height: 100%;
  padding: 1vh 0;
  margin-top: -0.5vh;
}
body header .searchBar_Block {
  width: 30vw;
  height: 60%;
  margin-left: auto;
  margin-right: 4vw;
  display: flex;
  align-items: start;
  border-bottom: 3px solid #BAF811;
}
body header .searchBar_Block .Select_Produtos {
  width: 30%;
  height: 85%;
  position: relative;
  margin: 0;
}
body header .searchBar_Block .Select_Produtos #category-select {
  position: relative;
  width: 100%;
  height: 100%;
  border-left: 3px solid #BAF811;
}
body header .searchBar_Block .Select_Produtos #category-select #options_btn_Codigos {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;
  font-size: 1vw;
  z-index: 5;
}
body header .searchBar_Block .Select_Produtos #category-select #select-button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  outline: none;
}
body header .searchBar_Block .Select_Produtos #category-select #select-button #selected_val_Codigos {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #F3F4F9;
  font-size: 1vw;
  font-weight: 900;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.75vw;
  padding-top: 0.25vh;
}
body header .searchBar_Block .Select_Produtos #category-select #select-button img, body header .searchBar_Block .Select_Produtos #category-select #select-button svg {
  z-index: 99;
  position: absolute;
  right: 0.35vw;
  width: 2vw;
  height: 100%;
  padding: 0.75vh;
}
body header .searchBar_Block .Select_Produtos #category-select #select-button img path, body header .searchBar_Block .Select_Produtos #category-select #select-button svg path {
  fill: #F3F4F9;
}
body header .searchBar_Block .Select_Produtos #options {
  z-index: 999;
  width: 100%;
  height: auto;
  max-height: 30vh;
  top: 5vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #BAF811;
  display: none;
  position: absolute;
  padding: 0.5vw;
}
body header .searchBar_Block .Select_Produtos #options .option_Codigos {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid #131313;
}
body header .searchBar_Block .Select_Produtos #options .option_Codigos span {
  all: unset;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0.75vw;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 0.75vw;
  font-weight: 800;
  color: #131313;
  z-index: 5;
}
body header .searchBar_Block .Select_Produtos #options .option_Codigos input[type=radio] {
  all: unset;
  position: absolute;
  inset: 0;
  z-index: 10;
}
body header .searchBar_Block .Select_Produtos #options .option_Codigos:hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #BBBBBB;
  opacity: 0.5;
  z-index: -1;
}
body header .searchBar_Block .Select_Produtos #options .option_Codigos:last-child {
  border: none;
}
body header .searchBar_Block .Select_Produtos #options_btn_Codigos:checked + #select-button svg {
  transform: rotate(180deg);
}
body header .searchBar_Block .Select_Produtos #category-select:has(#options_btn_Codigos:checked) + #options {
  display: block;
}
body header .searchBar_Block .searchBar {
  width: 70%;
  height: 85%;
  position: relative;
  border-left: 3px solid #BAF811;
  border-right: 3px solid #BAF811;
}
body header .searchBar_Block .searchBar .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2.5vw;
  height: 2.5vw;
  transition: all 1s;
  z-index: 5;
}
body header .searchBar_Block .searchBar .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 1.25vh;
  right: 0;
  bottom: 0;
  left: 0.75vw;
  width: 0.75vw;
  height: 0.25vh;
  background: #F3F4F9;
  transform: rotate(45deg);
  transition: all 0.5s;
}
body header .searchBar_Block .searchBar .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -1vh;
  right: 0;
  bottom: 0;
  left: -0.5vw;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  border: 0.3vh solid #F3F4F9;
  transition: all 0.5s;
}
body header .searchBar_Block .searchBar input {
  all: unset;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  outline: none;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  color: #F3F4F9;
  padding-left: 1vw;
  transition: all 1s;
  z-index: 5;
}
body header .searchBar_Block .searchBar input:focus ~ .search {
  z-index: 6;
}
body header .searchBar_Block .searchBar input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 1.5vw;
}
body header .searchBar_Block .searchBar input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 1.5vw;
  height: 0.3vh;
  border: none;
  background: #F3F4F9;
  border-radius: 0%;
  transform: rotate(-45deg);
}
body header .searchBar_Block .searchBar input::-moz-placeholder {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-size: 1vw;
  color: #F3F4F9;
}
body header .searchBar_Block .searchBar input::placeholder {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-size: 1vw;
  color: #F3F4F9;
}
body header .searchBar_Block .searchBar .Search_resultBox {
  width: 100%;
  min-height: 5vh;
  height: auto;
  max-height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #131313;
  position: absolute;
  top: 5vh;
}
body header .searchBar_Block .searchBar .Search_resultBox .searchResult {
  position: relative;
  width: 100%;
  height: 5vh;
  border-top: 0.01vh solid #8000FF;
  border-bottom: 0.01vh solid #8000FF;
  display: flex;
  flex-direction: row;
  margin: 0.5vh 0;
}
body header .searchBar_Block .searchBar .Search_resultBox .searchResult p {
  width: 55%;
  color: #F3F4F9;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 0.75vw;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.3vw;
}
body header .searchBar_Block .searchBar .Search_resultBox .searchResult img, body header .searchBar_Block .searchBar .Search_resultBox .searchResult svg {
  width: 25%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0.15vw;
}
body header .searchBar_Block .searchBar .Search_resultBox .searchResult span {
  width: 20%;
  color: #F3F4F9;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-size: 0.5vw;
  display: flex;
  align-items: start;
  justify-content: right;
  padding: 0.35vw;
}
body header .searchBar_Block .searchBar .Search_resultBox .searchResult:first-child {
  margin-top: 0;
}
body header .searchBar_Block .searchBar .Search_resultBox .searchResult:last-child {
  margin-bottom: 0;
}
body header .searchBar_Block .searchBar .Search_resultBox .SubcategResult span {
  width: 45%;
}
body header .searchBar_Block .searchBar .Search_resultBox .categoriasResult p, body header .searchBar_Block .searchBar .Search_resultBox .produtoResult p {
  margin-left: 25%;
}
body header .searchBar_Block .searchBar .Search_resultBox .categoriasResult img, body header .searchBar_Block .searchBar .Search_resultBox .categoriasResult svg, body header .searchBar_Block .searchBar .Search_resultBox .produtoResult img, body header .searchBar_Block .searchBar .Search_resultBox .produtoResult svg {
  position: absolute;
  top: 0;
  left: 0;
}
body header .searchBar_Block .searchBar .Search_resultBox .nullResult span {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.75vw;
  font-weight: 800;
}
body header .cart, body header .menu {
  height: 100%;
  width: 3vw;
  padding: 0.5vw;
  margin: 0 0.5vw;
}
body header .cart {
  position: relative;
}
body header .cart span {
  position: absolute;
  top: 18%;
  right: 5%;
  width: 1vw;
  height: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 0.75vw;
  color: #F3F4F9;
  background: #F83810;
  border-radius: 50%;
}
body header .cart button {
  all: unset;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .cart button img, body header .cart button svg {
  width: 100%;
  height: 100%;
}
body header .cart .dropdown-menu {
  margin-top: 1vh;
  margin-right: -0.5vw;
  width: 20vw;
  min-height: 10vh;
  height: auto;
  background: #BAF811;
  position: relative;
  padding: 0.25vw;
  padding-bottom: 3.5vh;
}
body header .cart .dropdown-menu p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-size: 1vw;
  color: #131313;
  width: 100%;
  height: 10vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .cart .dropdown-menu .itensCarrinho {
  width: 100%;
  height: 4.5vh;
  border-top: 1px solid #131313;
  border-bottom: 1px solid #131313;
  margin: 0.25vh 0;
  display: flex;
  position: relative;
}
body header .cart .dropdown-menu .itensCarrinho img, body header .cart .dropdown-menu .itensCarrinho svg {
  width: 20%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body header .cart .dropdown-menu .itensCarrinho p {
  width: 60%;
  height: 100%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 0.75vw;
  color: #131313;
  padding: 0.25vw;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 3vw;
}
body header .cart .dropdown-menu .itensCarrinho span {
  all: unset;
  position: absolute;
  top: 0.25vh;
  right: 0.25vw;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 0.5vw;
  color: #131313;
}
body header .cart .dropdown-menu .itensCarrinho:first-child {
  margin-top: 0;
}
body header .cart .dropdown-menu .itensCarrinho:last-child {
  margin-bottom: 0;
}
body header .cart .dropdown-menu .btn-carrinho {
  position: absolute;
  bottom: 0.5vh;
  width: 95%;
  height: 2.5vh;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  color: #F3F4F9;
  background: #F83810;
  box-shadow: 3px 3px #8000FF;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .side_menu {
  height: 100vh;
  width: 20vw;
  background: #131313;
  position: absolute;
  z-index: 999999 !important;
  top: 0;
  right: -20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.5;
}
body header .side_menu img, body header .side_menu svg {
  position: absolute;
  top: 1vw;
  left: 1vw;
  width: 2vw;
  height: 2vw;
  z-index: 9999 !important;
}
body header .side_menu a {
  width: 100%;
  height: 5vh;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1.25vw;
  color: #F3F4F9;
  margin: 1vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .back_dark {
  background: #131313;
}
body .Inicio {
  width: 100%;
  min-height: 100vh;
  height: auto;
}
body .Inicio section {
  padding: 0 5%;
}
body .Inicio section .btn {
  background: #BAF811;
  color: #131313;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-size: 1.15vw;
  box-shadow: 6px 6px #8000FF;
  border-radius: 0;
  padding: 0.5vh 1vw;
}
body .Inicio .Banner {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 10vh;
}
body .Inicio .Banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body .Inicio .Banner h1 {
  text-align: right;
  width: 100%;
  height: auto;
  font-family: "Bricolage Grotesque", sans-serif;
  color: #F3F4F9;
  font-weight: 800;
  font-size: 5vw;
  margin-left: auto;
  margin-top: 26vh;
  padding-right: 1.25vw;
  line-height: 10vh;
}
body .Inicio .Banner h1 span {
  color: #F83810;
}
body .Inicio .Banner h3 {
  text-align: right;
  width: 100%;
  height: auto;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #F3F4F9;
  font-weight: 700;
  font-size: 1.55vw;
  margin-left: auto;
  padding-right: 1.25vw;
}
body .Inicio .Dobra_Categ {
  width: 100%;
  min-height: 100vh;
  height: auto;
  max-height: 200vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body .Inicio .Dobra_Categ #img_bg_categ {
  width: 100%;
  height: 100%;
  background: url("../../assets/backgrounds/textura_home.webp");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
body .Inicio .Dobra_Categ h2 {
  width: 100%;
  height: 13vh;
  text-align: center;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 3vw;
  color: #F3F4F9;
  margin-top: 2vh;
  margin-bottom: 5vh;
}
body .Inicio .Dobra_Categ h2 span {
  color: #F83810;
}
body .Inicio .Dobra_Categ .underline {
  position: absolute;
  width: 16vw;
  top: 14vh;
  left: 52%;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: underlineAnimation 5s infinite ease-in-out;
}
@keyframes underlineAnimation {
  0% {
    stroke-dashoffset: 1500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
body .Inicio .Dobra_Categ .categoria {
  width: 33.3%;
  height: 42vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0 3vw;
  margin: 1.5vh 0;
  position: relative;
}
body .Inicio .Dobra_Categ .categoria img {
  width: 100%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}
body .Inicio .Dobra_Categ .categoria p {
  width: 100%;
  height: 15%;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-size: 1.15vw;
  color: #F3F4F9;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5%;
}
body .Inicio .Dobra_Categ .categoria::before {
  content: "";
  position: absolute;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  background: #BBBBBB;
  opacity: 0.1;
  top: 0;
}
body .Inicio .Dobra_Categ::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background: linear-gradient(180deg, rgba(19, 19, 19, 0) 0%, rgb(19, 19, 19) 100%);
  z-index: 10;
}
body .Inicio .Dobra_Categ .btn_Categ {
  position: absolute;
  bottom: 3vh;
  left: calc(50% - 5.5vw);
  z-index: 11;
}
body .Inicio .Dobra_Prods {
  padding-bottom: 7vh;
  width: 100%;
  height: 107vh;
  position: relative;
  background: #505050;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  z-index: 10;
}
body .Inicio .Dobra_Prods::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35vh;
  background: linear-gradient(180deg, rgb(19, 19, 19) 0%, rgba(19, 19, 19, 0) 100%);
  z-index: 10;
}
body .Inicio .Dobra_Prods #img_bg_prods {
  width: 100%;
  height: 100%;
  background: url("../../assets/backgrounds/textura_adm.webp");
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.15;
}
body .Inicio .Dobra_Prods h2 {
  z-index: 25;
  position: relative;
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 3vw;
  color: #F3F4F9;
  margin-top: 7vh;
}
body .Inicio .Dobra_Prods h2 span {
  color: #F83810;
}
body .Inicio .Dobra_Prods .produtos_recentes {
  z-index: 25;
  width: 23.5%;
  height: 65%;
  margin: -8vh 0.75% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.75vw;
  overflow: hidden;
}
body .Inicio .Dobra_Prods .produtos_recentes .code {
  position: absolute;
  top: 0.25vw;
  left: 0.5vw;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-size: 0.75vw;
  color: #BAF811;
  letter-spacing: 0.05vw;
}
body .Inicio .Dobra_Prods .produtos_recentes button {
  position: absolute;
  top: 0.75vw;
  right: 0.75vw;
  width: 1.75vw;
  height: 1.75vw;
  border: none;
  border-radius: 0.25vw;
  background: #F83810;
  z-index: 99 !important;
  transition: ease-in-out 0.1s all;
}
body .Inicio .Dobra_Prods .produtos_recentes button img, body .Inicio .Dobra_Prods .produtos_recentes button svg {
  width: 100%;
  height: 100%;
  padding: 0.3vw;
}
body .Inicio .Dobra_Prods .produtos_recentes button img path, body .Inicio .Dobra_Prods .produtos_recentes button svg path {
  fill: #131313;
}
body .Inicio .Dobra_Prods .produtos_recentes button:hover {
  width: 2.25vw;
  height: 2.25vw;
  top: 0.5vw;
  right: 0.5vw;
}
body .Inicio .Dobra_Prods .produtos_recentes img {
  width: 100%;
  height: 65%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 1.5vw;
}
body .Inicio .Dobra_Prods .produtos_recentes h4 {
  all: unset;
  width: 100%;
  height: 20%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #F3F4F9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
body .Inicio .Dobra_Prods .produtos_recentes h4::before {
  content: "";
  position: absolute;
  background: #BAF811;
  opacity: 1;
  width: 30%;
  height: 3px;
  bottom: 0;
  left: 35%;
}
body .Inicio .Dobra_Prods .produtos_recentes p {
  width: 100%;
  height: 15%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1.25vw;
  color: #BAF811;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .Inicio .Dobra_Prods .produtos_recentes p span {
  color: #F3F4F9;
  font-size: 0.75vw;
  margin-right: 0.25vw;
  margin-bottom: -0.75vh;
}
body .Inicio .Dobra_Prods .produtos_recentes a {
  width: 7vw;
  height: 7vw;
  position: absolute;
  bottom: -3.5vw;
  right: -3.5vw;
  z-index: 15;
  transform: rotate(45deg);
  background: #BAF811;
}
body .Inicio .Dobra_Prods .produtos_recentes a img, body .Inicio .Dobra_Prods .produtos_recentes a svg {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 40%;
  left: 0.7vw;
}
body .Inicio .Dobra_Prods .produtos_recentes a img path, body .Inicio .Dobra_Prods .produtos_recentes a svg path {
  fill: #131313;
}
body .Inicio .Dobra_Prods .produtos_recentes::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #BBBBBB;
  opacity: 0.15;
  z-index: -1;
}
body .Inicio .Dobra_Prods .btn_prods {
  position: absolute;
  bottom: 11vh;
  left: calc(50% - 5vw);
  z-index: 25;
}
body .Produtos {
  width: 100%;
  min-height: 100vh;
  height: auto;
}
body .Produtos .Header_main {
  margin-top: 11vh;
  width: 100%;
  height: 6vh;
  background: #BAF811;
  display: flex;
  flex-direction: row;
  padding: 0.5vh 0;
}
body .Produtos .Header_main .list_Categs {
  border-left: 1px solid #8000FF;
  border-right: 1px solid #8000FF;
  width: 12.5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1vw;
  color: #131313;
  position: relative;
}
body .Produtos .Header_main .list_Categs:first-child {
  border-left: 0;
}
body .Produtos .Header_main .list_Categs:last-child {
  border-right: 0;
}
body .Produtos .Header_main .list_Categs .categ_Subcategs, body .Produtos .Header_main .list_Categs button {
  all: unset;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
}
body .Produtos .Header_main .list_Categs .categ_Subcategs p, body .Produtos .Header_main .list_Categs button p {
  width: 78%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .Produtos .Header_main .list_Categs .categ_Subcategs img, body .Produtos .Header_main .list_Categs .categ_Subcategs svg, body .Produtos .Header_main .list_Categs button img, body .Produtos .Header_main .list_Categs button svg {
  position: absolute;
  width: 1.5vw;
  right: 1vw;
}
body .Produtos .Header_main .list_Categs .categ_Subcategs img path, body .Produtos .Header_main .list_Categs .categ_Subcategs svg path, body .Produtos .Header_main .list_Categs button img path, body .Produtos .Header_main .list_Categs button svg path {
  fill: #131313;
}
body .Produtos .Header_main .list_Categs .dropdown-menu {
  width: 12vw;
  border-radius: 0;
  background: #BAF811;
  padding: 0.5vw;
  outline: none;
  border: none;
}
body .Produtos .Header_main .list_Categs .dropdown-menu .dropdown-item {
  font-weight: 700;
  padding-left: 0.5vw;
  overflow: hidden;
}
body .Produtos .Header_main .list_Categs .dropdown-menu .dropdown-item:hover {
  background: #BBBBBB;
}
body .Produtos .Header_main .list_Categs .showDropdown {
  width: 100%;
  height: auto;
  position: absolute;
  top: 100%;
  left: 0px;
  will-change: transform;
  z-index: 30 !important;
}
body .Produtos .Header_main .list_Categs p {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .Produtos .SubHeader {
  width: 100%;
  height: 15vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: right;
  padding: 2vh 1.5vw;
}
body .Produtos .SubHeader nav {
  all: unset;
  position: absolute;
  left: 1vw;
  top: 1vh;
  height: 4.5vh;
}
body .Produtos .SubHeader nav .breadcrumb {
  background: none;
}
body .Produtos .SubHeader nav .breadcrumb .breadcrumb-item {
  max-width: 8vw;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-size: 0.75vw;
  color: #BAF811 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .Produtos .SubHeader nav .breadcrumb .breadcrumb-item a {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #F3F4F9;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .Produtos .SubHeader nav .breadcrumb .breadcrumb-item a:hover {
  color: #8000FF;
}
body .Produtos .SubHeader nav .breadcrumb .breadcrumb-item::before {
  content: ">";
}
body .Produtos .SubHeader nav .breadcrumb .breadcrumb-item:first-child::before {
  content: "";
}
body .Produtos .SubHeader h1 {
  margin-top: 4vh;
  width: 40vw;
  height: 55%;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 3vw;
  color: #F3F4F9;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .Produtos .SubHeader h3 {
  position: absolute;
  right: 1.5vw;
  top: 25%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-size: 0.75vw;
  color: #F3F4F9;
}
body .Produtos .Produtos_Block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}
body .Produtos .Produtos_Block .Sub_menu {
  width: 20%;
  min-height: 68vh;
  height: auto;
  padding-bottom: 7vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
body .Produtos .Produtos_Block .Sub_menu::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 85%;
  top: 2vh;
  right: 0;
  background: #F83810;
}
body .Produtos .Produtos_Block .Sub_menu .filtros_Block {
  width: 100%;
  height: 13vh;
  margin-top: 2vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
body .Produtos .Produtos_Block .Sub_menu .filtros_Block .LimpaFiltros {
  all: unset;
  position: absolute;
  top: -3vh;
  left: 0.75vw;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 0.75vw;
  color: #F3F4F9;
}
body .Produtos .Produtos_Block .Sub_menu .filtros_Block .LimpaFiltros:hover {
  color: #F83810;
}
body .Produtos .Produtos_Block .Sub_menu .filtros_Block .filtros {
  all: unset;
  width: 33.3%;
  height: 100%;
}
body .Produtos .Produtos_Block .Sub_menu .filtros_Block .filtros img, body .Produtos .Produtos_Block .Sub_menu .filtros_Block .filtros svg {
  width: 100%;
  height: 65%;
  padding: 0.85vw;
}
body .Produtos .Produtos_Block .Sub_menu .filtros_Block .filtros img path, body .Produtos .Produtos_Block .Sub_menu .filtros_Block .filtros svg path {
  fill: #F83810;
}
body .Produtos .Produtos_Block .Sub_menu .filtros_Block .filtros p {
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 0.75vw;
  color: #F3F4F9;
  text-align: center;
  padding: 0 1vw;
}
body .Produtos .Produtos_Block .Sub_menu .filtros_Block .ativo img path, body .Produtos .Produtos_Block .Sub_menu .filtros_Block .ativo svg path {
  fill: #BAF811;
}
body .Produtos .Produtos_Block .Sub_menu .subCateg_list, body .Produtos .Produtos_Block .Sub_menu .Codigo_list {
  margin-top: 1.5vh;
  width: 100%;
}
body .Produtos .Produtos_Block .Sub_menu .subCateg_list button, body .Produtos .Produtos_Block .Sub_menu .Codigo_list button {
  all: unset;
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1vw;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1.35vw;
  color: #F3F4F9;
  position: relative;
}
body .Produtos .Produtos_Block .Sub_menu .subCateg_list button img, body .Produtos .Produtos_Block .Sub_menu .subCateg_list button svg, body .Produtos .Produtos_Block .Sub_menu .Codigo_list button img, body .Produtos .Produtos_Block .Sub_menu .Codigo_list button svg {
  position: absolute;
  right: 2vw;
  width: 2vw;
  height: auto;
  transition: all 0.2s ease-in-out;
  transform: rotate(0);
}
body .Produtos .Produtos_Block .Sub_menu .subCateg_list button .setaSubCategs, body .Produtos .Produtos_Block .Sub_menu .Codigo_list button .setaSubCategs {
  transform: rotate(180deg);
}
body .Produtos .Produtos_Block .Sub_menu .subCateg_list #Sub_Categs, body .Produtos .Produtos_Block .Sub_menu .subCateg_list #Codigos_list, body .Produtos .Produtos_Block .Sub_menu .Codigo_list #Sub_Categs, body .Produtos .Produtos_Block .Sub_menu .Codigo_list #Codigos_list {
  padding: 1vh 1.5vw;
}
body .Produtos .Produtos_Block .Sub_menu .subCateg_list #Sub_Categs a, body .Produtos .Produtos_Block .Sub_menu .subCateg_list #Codigos_list a, body .Produtos .Produtos_Block .Sub_menu .Codigo_list #Sub_Categs a, body .Produtos .Produtos_Block .Sub_menu .Codigo_list #Codigos_list a {
  width: 100%;
  height: 4vh;
  border-top: 1px solid #BAF811;
  border-bottom: 1px solid #BAF811;
  display: flex;
  align-items: center;
  padding-left: 0.5vw;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 0.75vw;
  color: #F3F4F9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .Produtos .Produtos_Block .Sub_menu .subCateg_list #Sub_Categs a:hover, body .Produtos .Produtos_Block .Sub_menu .subCateg_list #Codigos_list a:hover, body .Produtos .Produtos_Block .Sub_menu .Codigo_list #Sub_Categs a:hover, body .Produtos .Produtos_Block .Sub_menu .Codigo_list #Codigos_list a:hover {
  color: #F83810;
}
body .Produtos .Produtos_Block .Produtos_list {
  width: 80%;
  min-height: 68vh;
  height: auto;
  padding-bottom: 7vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2vw 7vh 0;
  position: relative;
}
body .Produtos .Produtos_Block .Produtos_list .LimpaFiltroCodigo {
  all: unset;
  position: absolute;
  top: -3vh;
  left: 0.5vw;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1vw;
  color: #F3F4F9;
}
body .Produtos .Produtos_Block .Produtos_list .LimpaFiltroCodigo:hover {
  color: #F83810;
}
body .Produtos .Produtos_Block .Produtos_list .produtos {
  z-index: 25;
  width: 23.5%;
  height: 50vh;
  margin: 2vh 0.75%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.75vw;
  overflow: hidden;
}
body .Produtos .Produtos_Block .Produtos_list .produtos .code {
  position: absolute;
  top: 0.25vw;
  left: 0.5vw;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-size: 0.75vw;
  color: #BAF811;
  letter-spacing: 0.05vw;
}
body .Produtos .Produtos_Block .Produtos_list .produtos button {
  position: absolute;
  top: 0.75vw;
  right: 0.75vw;
  width: 1.75vw;
  height: 1.75vw;
  border: none;
  border-radius: 0.25vw;
  background: #F83810;
  z-index: 99 !important;
  transition: ease-in-out 0.1s all;
}
body .Produtos .Produtos_Block .Produtos_list .produtos button img, body .Produtos .Produtos_Block .Produtos_list .produtos button svg {
  width: 100%;
  height: 100%;
  padding: 0.3vw;
}
body .Produtos .Produtos_Block .Produtos_list .produtos button img path, body .Produtos .Produtos_Block .Produtos_list .produtos button svg path {
  fill: #131313;
}
body .Produtos .Produtos_Block .Produtos_list .produtos button:hover {
  width: 2.25vw;
  height: 2.25vw;
  top: 0.5vw;
  right: 0.5vw;
}
body .Produtos .Produtos_Block .Produtos_list .produtos img {
  width: 100%;
  height: 65%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 1.5vw;
  z-index: 5 !important;
}
body .Produtos .Produtos_Block .Produtos_list .produtos h4 {
  all: unset;
  width: 100%;
  height: 20%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #F3F4F9;
  overflow: hidden;
  position: relative;
  padding-top: 0.5vh;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .Produtos .Produtos_Block .Produtos_list .produtos h4::before {
  content: "";
  position: absolute;
  background: #BAF811;
  opacity: 1;
  width: 30%;
  height: 3px;
  bottom: 0;
  left: 35%;
}
body .Produtos .Produtos_Block .Produtos_list .produtos p {
  width: 100%;
  height: 15%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1.25vw;
  color: #BAF811;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .Produtos .Produtos_Block .Produtos_list .produtos p span {
  color: #F3F4F9;
  font-size: 0.75vw;
  margin-right: 0.25vw;
  margin-bottom: -0.75vh;
}
body .Produtos .Produtos_Block .Produtos_list .produtos a {
  width: 7vw;
  height: 7vw;
  position: absolute;
  bottom: -3.5vw;
  right: -3.5vw;
  z-index: 15;
  transform: rotate(45deg);
  background: #BAF811;
}
body .Produtos .Produtos_Block .Produtos_list .produtos a img, body .Produtos .Produtos_Block .Produtos_list .produtos a svg {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 40%;
  left: 0.7vw;
}
body .Produtos .Produtos_Block .Produtos_list .produtos a img path, body .Produtos .Produtos_Block .Produtos_list .produtos a svg path {
  fill: #131313;
}
body .Produtos .Produtos_Block .Produtos_list .produtos::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #BBBBBB;
  opacity: 0.15;
  z-index: -1;
}
body .Carrinho {
  width: 100%;
  min-height: 100vh;
  height: auto;
}
body .Carrinho .carrinho_Block {
  width: 100%;
  height: 83vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10vh;
  margin-bottom: 7vh;
  padding: 0 2vw;
}
body .Carrinho .carrinho_Block h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 5vw;
  color: #F3F4F9;
  padding: 1vh 0;
  margin-top: -2vh;
}
body .Carrinho .carrinho_Block .linkTelaVazia {
  margin-top: 3vh;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #BAF811;
  padding: 0.5vh 0;
}
body .Carrinho .carrinho_Block .linkTelaVazia:hover {
  color: #F83810;
}
body .Carrinho .carrinho_Block .headerCarrinho {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid #F83810;
}
body .Carrinho .carrinho_Block .headerCarrinho h2 {
  height: 100%;
  display: flex;
  align-items: flex-end;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 2vw;
  color: #F3F4F9;
  padding-bottom: 0.5vh;
}
body .Carrinho .carrinho_Block .headerCarrinho h2:nth-child(1) {
  width: 50%;
  padding-left: 1vw;
}
body .Carrinho .carrinho_Block .headerCarrinho h2:nth-child(2) {
  width: 20%;
  justify-content: center;
}
body .Carrinho .carrinho_Block .headerCarrinho h2:nth-child(3) {
  width: 30%;
  justify-content: right;
  padding-right: 1vw;
}
body .Carrinho .carrinho_Block .itens_block {
  width: 100%;
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1vh 0;
  display: flex;
  flex-direction: column;
  padding-right: 0.5vw;
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho {
  width: 100%;
  height: 10vh;
  margin: 0.5vh 0;
  border-top: 1px solid #BAF811;
  border-bottom: 1px solid #BAF811;
  position: relative;
  display: flex;
  flex-direction: row;
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho::before {
  content: "";
  position: absolute;
  width: 7%;
  height: 100%;
  background: #BBBBBB;
  opacity: 0.05;
  top: 0;
  left: 0;
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho img {
  width: 7%;
  height: 100%;
  padding: 0.5vw;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho .nomeProd {
  width: 43.5%;
  height: 100%;
  padding-left: 1vw;
  padding-top: 1vh;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1vw;
  color: #F3F4F9;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho .nomeProd:hover {
  color: #BAF811;
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho h4 {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 1.25vw;
  color: #F3F4F9;
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho .AddRemove {
  width: 29.5%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding-right: 3vw;
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho .AddRemove .subtrai {
  all: unset;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #F83810;
  transition: 0.2s ease-in-out all;
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho .AddRemove .subtrai:hover {
  transform: translateY(3px);
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho .AddRemove .quant {
  width: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1.25vw;
  color: #F3F4F9;
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho .AddRemove .soma {
  all: unset;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #F83810;
  transition: 0.2s ease-in-out all;
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho .AddRemove .soma:hover {
  transform: translateY(-3px);
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho .removeCarrinho {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  width: 2vw;
  height: 2vw;
  border: 1px solid #F83810;
  border-radius: 0.25vw;
}
body .Carrinho .carrinho_Block .itens_block .itenCarrinho .removeCarrinho img {
  width: 100%;
  height: 100%;
}
body .Carrinho .carrinho_Block .linkfinal {
  all: unset;
  position: absolute;
  bottom: 2.5vh;
  right: 3vw;
  height: 5vh;
  width: 15vw;
  background: #F83810;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1vw;
  color: #F3F4F9;
  border-radius: 0.5vw;
}
body .Carrinho .carrinho_Block .linkfinal:hover {
  color: #BAF811;
}
body .Categorias {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding-bottom: 7vh;
  display: flex;
  flex-direction: column;
}
body .Categorias .banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
}
body .Categorias .banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
body .Categorias .banner h1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 3.5vw;
  color: #F3F4F9;
}
body .Categorias .Categs {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5vh;
}
body .Categorias .Categs #img_bg_categ {
  width: 100%;
  height: 100%;
  background: url("../../assets/backgrounds/textura_home.webp");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
body .Categorias .Categs .categoria {
  width: 33.3%;
  height: 42vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0 3vw;
  margin: 1.5vh 0;
  position: relative;
}
body .Categorias .Categs .categoria img {
  width: 100%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}
body .Categorias .Categs .categoria p {
  width: 100%;
  height: 15%;
  text-align: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-size: 1.15vw;
  color: #F3F4F9;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5%;
}
body .Categorias .Categs .categoria::before {
  content: "";
  position: absolute;
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  background: #BBBBBB;
  opacity: 0.1;
  top: 0;
}
body .Produto {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 7vh;
  position: relative;
}
body .Produto nav {
  all: unset;
  position: absolute;
  left: 2vw;
  top: 10.5vh;
  height: 4.5vh;
}
body .Produto nav .breadcrumb {
  background: none;
}
body .Produto nav .breadcrumb .breadcrumb-item {
  max-width: 8vw;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-size: 0.75vw;
  color: #BAF811 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .Produto nav .breadcrumb .breadcrumb-item a {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #F3F4F9;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .Produto nav .breadcrumb .breadcrumb-item a:hover {
  color: #8000FF;
}
body .Produto nav .breadcrumb .breadcrumb-item::before {
  content: ">";
}
body .Produto nav .breadcrumb .breadcrumb-item:first-child::before {
  content: "";
}
body .Produto .estoque {
  position: absolute;
  right: 3vw;
  top: 13vh;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1vw;
  color: #F83810;
}
body .Produto .main_Block {
  width: 100%;
  height: 90vh;
  display: flex;
  padding: 6vh 3vw;
}
body .Produto .main_Block .infos {
  width: 60%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 2vw;
}
body .Produto .main_Block .infos h1 {
  margin: 0;
  width: 100%;
  height: 15%;
  padding: 0.25vw;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 2.5vw;
  color: #F3F4F9;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2vh;
}
body .Produto .main_Block .infos h5 {
  margin: 0;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-size: 1vw;
}
body .Produto .main_Block .infos h5 span {
  margin-left: 0.5vw;
  font-weight: 200;
}
body .Produto .main_Block .infos h5 .codigo_Show {
  color: #F83810;
}
body .Produto .main_Block .infos .valor {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding-right: 1vw;
}
body .Produto .main_Block .infos .valor span {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  color: #F3F4F9;
  margin-right: 0.5vw;
}
body .Produto .main_Block .infos .valor h3 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 3vw;
  color: #BAF811;
  font-weight: 900;
}
body .Produto .main_Block .infos .Acoes {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 1vh 2vw;
}
body .Produto .main_Block .infos .Acoes .AddRemove {
  width: 50%;
  height: 40%;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
body .Produto .main_Block .infos .Acoes .AddRemove .remove {
  all: unset;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #F83810;
}
body .Produto .main_Block .infos .Acoes .AddRemove .quant {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1.5vw;
  color: #F3F4F9;
}
body .Produto .main_Block .infos .Acoes .AddRemove .add {
  all: unset;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #F83810;
}
body .Produto .main_Block .infos .Acoes .AddRemove .addCarrinho {
  all: unset;
  width: 55%;
  height: 65%;
  margin-left: 2vw;
  border: solid 4px #F83810;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-size: 1vw;
  color: #F3F4F9;
}
body .Produto .main_Block .infos .Acoes a {
  width: 50%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-size: 1.25vw;
  color: #131313;
  background: #BAF811;
  box-shadow: 6px 6px #8000FF;
}
body .Produto .main_Block .img {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
  position: relative;
}
body .Produto .main_Block .img img, body .Produto .main_Block .img svg {
  width: 100%;
  height: auto;
}
body .Produto .main_Block .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F3F4F9;
  opacity: 0.05;
}
body .Produto .descrition_Block {
  width: 100%;
  min-height: 50vh;
  height: auto;
  padding: 2vh 3vw;
  position: relative;
}
body .Produto .descrition_Block h2 {
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 2.25vw;
  color: #F3F4F9;
  position: relative;
}
body .Produto .descrition_Block h2::before {
  content: "";
  position: absolute;
  bottom: 1vh;
  left: 1.5vw;
  width: 11%;
  height: 2px;
  background: #F83810;
}
body .Produto .descrition_Block p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-size: 1vw;
  color: #F3F4F9;
  line-height: 3vh;
  padding-bottom: 8vh;
  padding-top: 2vh;
}
body .Produto .descrition_Block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: #F3F4F9;
}
body .Produto .ProdsRelacionados_Block {
  padding: 2vh 3vw;
  padding-bottom: 7vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
body .Produto .ProdsRelacionados_Block h2 {
  margin-bottom: 3vh;
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 2.25vw;
  color: #F3F4F9;
  position: relative;
}
body .Produto .ProdsRelacionados_Block h2::before {
  content: "";
  position: absolute;
  bottom: 1vh;
  left: 1.5vw;
  width: 24%;
  height: 2px;
  background: #F83810;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados {
  z-index: 25;
  width: 23.5%;
  height: 60vh;
  margin: 0 0.75%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.75vw;
  overflow: hidden;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados .code {
  position: absolute;
  top: 0.25vw;
  left: 0.5vw;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-size: 0.75vw;
  color: #BAF811;
  letter-spacing: 0.05vw;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados button {
  position: absolute;
  top: 0.75vw;
  right: 0.75vw;
  width: 1.75vw;
  height: 1.75vw;
  border: none;
  border-radius: 0.25vw;
  background: #F83810;
  z-index: 99 !important;
  transition: ease-in-out 0.1s all;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados button img, body .Produto .ProdsRelacionados_Block .produtos_atrelados button svg {
  width: 100%;
  height: 100%;
  padding: 0.3vw;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados button img path, body .Produto .ProdsRelacionados_Block .produtos_atrelados button svg path {
  fill: #131313;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados button:hover {
  width: 2.25vw;
  height: 2.25vw;
  top: 0.5vw;
  right: 0.5vw;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados img {
  width: 100%;
  height: 65%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 1.5vw;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados h4 {
  all: unset;
  width: 100%;
  height: 20%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #F3F4F9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados h4::before {
  content: "";
  position: absolute;
  background: #BAF811;
  opacity: 1;
  width: 30%;
  height: 3px;
  bottom: 0;
  left: 35%;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados p {
  width: 100%;
  height: 15%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1.25vw;
  color: #BAF811;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados p span {
  color: #F3F4F9;
  font-size: 0.75vw;
  margin-right: 0.25vw;
  margin-bottom: -0.75vh;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados a {
  width: 7vw;
  height: 7vw;
  position: absolute;
  bottom: -3.5vw;
  right: -3.5vw;
  z-index: 15;
  transform: rotate(45deg);
  background: #BAF811;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados a img, body .Produto .ProdsRelacionados_Block .produtos_atrelados a svg {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 40%;
  left: 0.7vw;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados a img path, body .Produto .ProdsRelacionados_Block .produtos_atrelados a svg path {
  fill: #131313;
}
body .Produto .ProdsRelacionados_Block .produtos_atrelados::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #BBBBBB;
  opacity: 0.15;
  z-index: -1;
}
body .prod_status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10vw;
}
body .prod_status h4 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 2.5vw;
  color: #F3F4F9;
  text-align: center;
}
body .prod_status a {
  margin-top: 5vh;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-size: 1.5vw;
  color: #BAF811;
}
body .prod_status a:hover {
  color: #F83810;
}
body footer {
  margin: 0 5%;
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 7vh;
  border-top: 3px solid #F83810;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.15vw;
  font-weight: 800;
  color: #F3F4F9;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  z-index: 99;
}
body footer span {
  font-size: 0.85vw;
  margin-left: auto;
  margin-right: 0.5vw;
}
body .msg_Carrinho {
  position: fixed;
  bottom: -25vh;
  left: 1vw;
  width: 25vw;
  height: 20vh;
  background: #BAF811;
  border-radius: 0.5vw;
  z-index: 99999 !important;
  transition: 0.2s ease-in-out all;
}
body .msg_Carrinho button {
  all: unset;
  position: absolute;
  top: 0.15vw;
  right: 0.15vw;
  width: 1.5vw;
  height: 1.5vw;
}
body .msg_Carrinho button img, body .msg_Carrinho button svg {
  width: 100%;
  height: 100%;
  padding: 0.25vw;
}
body .msg_Carrinho button img path, body .msg_Carrinho button svg path {
  fill: #131313;
}
body .msg_Carrinho p {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-size: 1.5vw;
  text-align: center;
  color: #131313;
}
body .msg_Carrinho .progress {
  width: 100%;
  height: 3vh;
}
body .msg_Carrinho .progress-wrap {
  height: 10%;
  background: #8000FF;
  overflow: hidden;
  position: relative;
  border-radius: 0;
}
body .msg_Carrinho .progress-wrap .progress-bar {
  background: #BBBBBB;
  left: 0;
  top: 0;
  position: absolute;
}/*# sourceMappingURL=style.css.map */