RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^produtos-(.*)$ produtos.php?codigo=$1 [L]
RewriteRule ^produtos-(.*?)&(.*?)$ listagem.php?codigo=$1&tipo=$2 [L]

AddHandler application/x-httpd-ea-php71 .php .php5 .phtml