RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^produtos-(.*)$ produtos.php?codigo=$1 [L]
RewriteRule ^produtos-(.*?)&(.*?)$ listagem.php?codigo=$1&tipo=$2 [L]

// PENSAR COM CARINHO EM TODA A LOGICA DE CODIGOS E RESULTADO DE PESQUISA


AddHandler application/x-httpd-ea-php71 .php .php5 .phtml