.HomeAdm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    position: relative;
    .Updates{
        width: 74.5%;
        height: 48.5%;
        background: $Grafite;
        border-radius: 0.75vw;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        padding: 1.25vw 1.25vw 2.75vw 1.25vw;
        h2{
            position: relative;
            font-family: $Main-font;
            font-weight: 800;
            font-size: 1.25vw;
            color: $Branco;
            letter-spacing: 0.1vw;
            display: flex;
            align-items: center;
            width: 100%;
            height: 10%;
            margin: 0;
            padding: 0 0 0 2vw;
            &::before{
                content: '';
                position: absolute;
                width: 1.25vw;
                height: 5vh;
                left: 0;
                background-color: $Abobora;
                border-radius: 0.4vw;
            }
        }
        .update_Header{
            width: 100%;
            height: 15%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            h3, h4, h5{
                margin: 0;
                padding: 0;
                height: 100%;
                width: 33.3%;
                display: flex;
                align-items: end;
                justify-content: center;
                color: $Preto;
                font-family: $Second-font;
                font-weight: 900;
                font-size: 0.85vw;
                padding-bottom: 0.25vh;
            }
            h3{
                justify-content: left;
            }
            h5{
                justify-content: right;
            }
        }
        .update_Itens{
            width: 100%;
            height: 75%;
            display: flex;
            flex-direction: column;
            .update_Item{
                border-top: 0.05vh solid $Verde;
                border-bottom: 0.05vh solid $Verde;
                width: 100%;
                height: 16.6%;
                display: flex;
                flex-direction: row;
                .update_Acao{
                    width: 45%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    z-index: 5;
                    img, svg{
                        width: 3vw;
                        height: 100%;
                        padding: 0.65vh 0 0.65vh 0;
                    }
                    p{
                        color: $Preto;
                        font-family: $Second-font;
                        font-weight: 700;
                        font-size: 0.7vw;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding-left: 0.25vw;
                    }
                }
                .update_Img{
                    width: 10%;
                    height: 100%;
                    z-index: 5;
                    img, svg{
                        width: 100%;
                        height: 100%;
                        padding: 0.4vh 0 0.4vh 0;
                    }
                }
                .update_Data{
                    width: 45%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: right;
                    font-family: $Second-font;
                    color: $Preto;
                    font-weight: 400;
                    font-size: 0.75vw;
                    padding-right: 0.5vw;
                    z-index: 5;
                }
            }
            .newItem{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: $Cinza;
                    opacity: 0.25;
                    z-index: 1;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 0.4vw;
                    height: 0.4vw;
                    left: -0.2vw;
                    top: 45%;
                    border-radius: 100%;
                    background: $Violeta;
                    z-index: 2;

                }
            }
        }
        a{
            position: absolute;
            bottom: 1.25vh;
            width: 9vw;
            height: 2.5vh;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $Preto;
            font-family: $Second-font;
            font-weight: 800;
            font-size: 0.75vw;
            background-color: $Verde;
            box-shadow: 2px 2px 0 0 $Violeta;
            transition: ease-in-out 0.2s;
            &:hover{
                transform: translateY(-2px);
                box-shadow: 4px 4px 0 0 $Violeta;
            }
        }
    }
    .lpUpdates{
        width: 74.5%;
        height: 48.5%;
        background: $Grafite;
        border-radius: 0.75vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        h2{
            position: absolute;
            font-family: $Main-font;
            font-weight: 800;
            font-size: 1.25vw;
            color: $Branco;
            top: 3.5vh;
            left: 3.75vw;
            display: flex;
            align-items: center;
            letter-spacing: 0.15vw;
            &::before{
                content: '';
                position: absolute;
                width: 1.25vw;
                height: 5vh;
                left: -2.25vw;
                background-color: $Abobora;
                border-radius: 0.4vw;
            }
        }
        h5{
            font-family: $Main-font;
            font-weight: 800;
            font-size: 3.5vw;
            color: $Branco;
        }
    }
    .topSells{
        background: $Grafite;
        position: absolute;
        right: 0;
        top: 0;
        width: 24%;
        height: 100%;
        border-radius: 0.75vw;
        padding: 1.5vh 0.5vw 1.5vh 0.5vw;
        h2{
            position: relative;
            font-family: $Main-font;
            font-weight: 800;
            font-size: 1vw;
            color: $Branco;
            letter-spacing: 0.1vw;
            display: flex;
            align-items: center;
            width: 100%;
            height: 6%;
            margin: 0;
            padding: 0 0 0 2.25vw;
            &::before{
                content: '';
                position: absolute;
                width: 1.25vw;
                height: 5vh;
                left: 0.25vw;
                background-color: $Verde;
                border-radius: 0.4vw;
            }
        }
        .topSell_Header{
            width: 100%;
            height: 6%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            h3, h4{
                margin: 0;
                padding: 0;
                height: 100%;
                width: 50%;
                display: flex;
                align-items: end;
                justify-content: center;
                color: $Preto;
                font-family: $Second-font;
                font-weight: 900;
                font-size: 0.85vw;
                padding: 0.25vw;
            }
            h3{
                justify-content: left;
            }
            h4{
                justify-content: right;
            }
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 0.1vh;
                background: $Preto;
                bottom: 0;
                left: 0;
            }
        }
        .topSell_Itens{
            width: 100%;
            height: 88%;
            display: flex;
            flex-direction: column;
            padding-top: 0.25vh;
            .topSell_Item{
                width: 100%;
                height: 10%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 0.25vh 0 0.25vh 0;
                .topSell_Produto{
                    width: 65%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    z-index: 5;
                    img, svg{
                        width: 23%;
                        height: 100%;
                        padding: 0.25vh;
                    }
                    p{
                        color: $Preto;
                        font-family: $Second-font;
                        font-weight: 800;
                        font-size: 0.9vw;
                        width: 77%;
                        height: 100%;
                        padding: 0.7vh 0.25vw;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .topSell_Valores{
                    width: 35%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: right;
                        width: 100%;
                        height: 65%;
                        font-family: $Second-font;
                        font-weight: 900;
                        font-size: 0.8vw;
                        color: $Verde;
                        span{
                            color: $Branco;
                            font-size: 0.5vw;
                            margin-right: 0.25vw;
                        }
                    }
                    .status{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 35%;
                        text-align: center;
                        border-radius: 0.25vw;
                        font-family: $Second-font;
                        font-weight: 900;
                        font-size: 0.75vw;
                        color: $Preto;
                    }
                    .Ativo{ background: $Verde; }
                    .Inativo{ background: $Abobora; }
                    .semEstoque{ background: $Cinza; }
                }
            }
        }
    }
}