.relatoriosHome{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow-y: auto;
    min-height: 88%;
    .relatorio_Links{
        width: 32%;
        height: 31.5%;
        border-radius: 0.75vw;
        margin: 1.05vh 0;
        background: $Grafite;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: ease-in-out 0.2s;
        &:nth-child(1), &:nth-child(2), &:nth-child(3){
            margin-top: 0;
            margin-bottom: -22vh;
        }
        img, svg{
            width: 100%;
            height: 100%;
            position: absolute;
            padding: 2.5vw;
            z-index: 1;
            path{
                fill: $Cinza;
                opacity: 0.5;
            }
        }
        h3{
            padding: 0 1vw;
            width: 100%;
            z-index: 2;
            font-family: $Main-font;
            font-weight: 800;
            font-size: 1.8vw;
            color: $Verde;
            letter-spacing: 0.15vw;
            text-align: center;
        }
        &:hover{
            transform: translateY(-5px);
        }
    }
}